* {
    margin: 0;
    padding: 0;
}

body {
    color: #fff;
    background-color: #000;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

a:link {
    color: #fff;
}

a:visited {
    color: #191dff;
}

a:hover {
    color: #fff;
}

h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;
    margin-bottom: 25px;
}

h2 span {
    font-size: 100px;
}

h2::after {
    display: block;
    content: '';
    width: 300px;
    height: 0px;
    border-top: solid 5px #b72661;
    margin-top: 1px;

}

img {
    width: 100%;
}

video {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);

}

li {
    list-style: none;
}


header {
    height: 90px;
}

.logo {
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav .a li {
    margin: 0 50px;
}

nav ul li a {
    font-size: 50px;
    font-family: 'Kaushan Script', cursive;
}

nav .icons li a .icon {
    width: 70px;
}

.icons {
    margin-top: 15px;
}

.icon {
    margin-right: 10px;
}

.w-container {
    width: min(92%, 1166px);
    margin: auto;
    padding: 80px 0;

}

/* -------------------------------------------------- */
.works-i {
    display: flex;
}

.works-i div {
    margin: 20px;
}

.btn {
    border: 1px solid #333;
    width: 200px;
    cursor: pointer;
    font-size: 30px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Kaushan Script', cursive;
}

.btn:hover {
    border: 1px solid rgb(204, 203, 203);
    color: #fff;
    background-color: #000;

}

/* -------------------------------------------------- */

video {
    width: 100%;

}

/*----------------------- How to me 開始*/
.how_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-family: 'Sawarabi Mincho', serif;
    font-size: 50px;
}

.text {
    font-family: 'Sawarabi Mincho', serif;
    font-size: 18px;
    letter-spacing: 0.15em;
    line-height: 2.15em;
    padding-top: 35px;
}

.how-item {
    margin: 10px 20px;
}

.how-item img {
    border-radius: 30px;
}
.times{
    font-size:40px;
    font-family: 'Sawarabi Mincho', serif;
    margin: 30px 30px 50px 30px;
}
.times::after {
    display: block;
    content: '';
    width: 300px;
    height: 0px;
    border-top: solid 5px #b72661;
    margin-top: 1px;
}
dt{
    font-family: 'Sawarabi Mincho', serif;
    font-size:40px;
    margin: 0 30px;
}

dd{
    font-family: 'Sawarabi Mincho', serif;
    font-size:40px;
    margin: 0 30px;
    padding-bottom: 30px;
}


/*----------------------- How to me 終了*/
/*----------------------- Works 開始*/
.works-wrapper {
    display: flex;
}

/*----------------------- Works 終了*/

/*----------------------- Skills 開始*/


.skill-items1 {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f1627;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.skill-items2 {
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f1627;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.skill-item p {
    margin: 10px;
    text-align: center;
}

progress {
    -webkit-appearance: none;
}

::-webkit-progress-value {
    background-color: #191dff;
}

.skill-progress {
    text-align: center;
    margin-top: 10px;
}

.skill-font {
    font-family: 'Gulzar', serif;
}

/*----------------------- Skills 終了*/
/*----------------------- footer 開始*/
footer nav {
    display: block;
}

/*----------------------- footer 終了*/
